[submodule "race_utils/raycaster"]
	path = race_utils/raycaster
	url = https://github.com/jeongsang-ryu/2D-RayCaster.git
[submodule "race_utils/unicorn_gym"]
	path = race_utils/unicorn_gym
	url = https://github.com/jeongsang-ryu/unicorn-gym.git
[submodule "state_estimation/kiss_icp_localization"]
	path = state_estimation/kiss_icp_localization
	url = https://github.com/freshleesh/kiss_icp_localization.git
